.main-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.event-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-form input,
.event-form textarea,
.event-form select {
    width: 100%;
    font: inherit;
    padding: 0.65rem 0.75rem;
    border-radius: 8px;
    border: 1px solid #cfcfcf;
}

.event-form button {
    font: inherit;
    border-radius: 8px;
    border: 1px solid #cfcfcf;
    width: 50%;
}




